@import url('https://fonts.googleapis.com/css?family=Cardo|Dancing+Script|Kalam|Satisfy');
body{
	background-image: url("images/background.jpg") ;
	
}
 


/* App*/
.App{
	text-align: center;
	padding:5%;
}

.App-title{
	font-size: 36px;

	color:#e35d5b;
  font-family: 'Satisfy', cursive;
}



 /*********** Profile ***********/

.profile{
    
	display: flex;
	justify-content: center;

}

.profile-info{
  color:white;
  margin-left: 10px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Cardo', serif;
}

.profile-img{
   width:150px;
   height: 150px;
   border: 4px solid white;
   
   
   display:inline-block;
   
   

}
.profile-name{
  font-family: 'Dancing Script', cursive;
	font-size: 26px;
    color: white;
}
.profile-followers , .profile-genre {
	font-size: 20px;
  font-family: 'Kalam', cursive;
}

/*********** Gallery ***********/

.track{
    display: inline-block;
	width: 220px;
	height:220px;
	margin:10px;
	text-align: left;
	cursor: pointer;
	position: relative;
}

.track-img{
  width: 220px;
	height:220px;
	

}
.track-text{
  background-color: black;
  color:white;
  opacity: 0.75;
  width:214px;
  margin-left: 3px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 5px;
}

.track-play{
	width: 220px;
	height:220px;
	
	position: absolute;
}
.track-play-inner{
  position: absolute;
  text-align: center;
  font-size: 25px;
  background-color: black;
  opacity: 0;
  border-radius: 30px;
  width:60px;
  height: 60px;
  color: white;
  padding-top: 13px;
  margin-left: 80px;
  margin-top:80px;
}
.track-play-inner:hover{
	opacity: 0.8;
	animation-name:fade-in;
	animation-duration: 0.5s;
}
@keyframes fade-in{

	from{
		opacity: 0;
	}
	to {
		opacity: 0.8
	}
}